@charset "utf-8";
/* CSS Document */

   body{
      margin:0;
      padding:0 ;
       background-image:url("");
	   display:none;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    #center{
        background: rgba(225, 0, 0, 0.4) none none repeat scroll 0 0;
      border:solid 1px #000000;
       width:75%;
       height:400px; 
       margin:auto;
       margin-top:150px;
	    
		
       
    }
    #right{
       margin-left:533px;
        }
        #header{
           padding: 7px 5px;
           background: rgba(0, 0, 0, 0.2) none  /*透明化    */
            repeat scroll 0 0;
            }
            #header h2{
                 color:#FFF;
                 text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      vertical-align: middle;
                
                }
                #header  img{
                    margin-right: 15px;
                   margin-top:-25px;
                    height:50px;
                    }
                    img{
                       border: 0 none;
      height: auto;
      max-width: 100%;
      vertical-align: middle; /*设置元素的垂直对齐   */
                        
                        }
                        
                        #main{
                          
       
	  repeat scroll 0 0;
      height: auto !important;
      min-height: 350px;
  }  
  #login{
	    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 5px;
    float: right;
    margin: 30px 30px 0 0;
    padding: 20px;
    width: 270px;
	height:250px;
	margin-top:-240px
	   }
	   #top{
		   margin-top:20px;
		   
		   }
		   #login h2{
			   margin-top:-10px;
			   color:#FFF
			   
		   }
		   #form{
			   padding-left:170px;
			 margin-top:-35px
			   
		   }
		  #login ul li .text {
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 0 0 2px #dedede inset;
    color: #666;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    width: 240px;
	margin-left:-45px;
	margin-top:-15px
}
.code{
	 border: 1px solid #dedede;
    border-radius: 5px;/*圆角边框*/
    box-shadow: 0 0 2px #dedede inset; /*重影*/
    color: #666;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    width: 150px;
	margin-left:-45px;
	margin-top:-15px
	
	
}
#login ul li img {
    margin-left: 115px;
	margin-top:-58px;
}
#button{
margin-top:-25px;
margin-left:-40px;
width:230px;	
	
}
